

<body>
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="index.html"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
                    </li>
                    <li class="menu-title">Caracteristicas Carpetas</li><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-cogs"></i>Mis Carpetas</a>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Carpetas Privadas</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a href="tables-basic.html">Basic Table</a></li>
                            <li><i class="fa fa-table"></i><a href="tables-data.html">Data Table</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Crear Carpeta</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i><a href="forms-basic.html">Basic Form</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="forms-advanced.html">Advanced Form</a></li>
                        </ul>
                    </li>

                    <li class="menu-title">Usuarios</li><!-- /.menu-title -->

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Perfil</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-fort-awesome"></i><a href="font-fontawesome.html">Font Awesome</a></li>
                            <li><i class="menu-icon ti-themify-logo"></i><a href="font-themify.html">Themefy Icons</a></li>
                        </ul>
                    </li>
                    
                    

                    
                    
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel color-nav">
        <!-- Header-->
        <header id="header" class="header posicon-nav container ">
            <div class="top-left">
                <p>AyDrive</p>
            </div>
            <div class="top-right">
                <p>Cerrar Session</p>
            </div>
        </header>
        <!-- /#header -->
        <!-- Content -->
        <div class="content">
            <section class="seccion-perfil-usuario">
                <div class="perfil-usuario-header">
                    <div class="perfil-usuario-portada">
                        <div class="perfil-usuario-avatar vatar">
                            
                        </div>
                    </div>
                </div>
               <form (submit) ="ActualizarInfo()">
                <div class="perfil-usuario-body">
                    <div class="perfil-usuario-bio">
                        <h3 class="titulo">{{usuario.nickname}}</h3>
                        <p class="texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae ipsa necessitatibus nesciunt sequi deleniti ducimus nihil excepturi exercitationem. Blanditiis, obcaecati expedita. Qui ex laborum modi obcaecati velit ullam quisquam repellat!</p>
                    </div>
                    <div class="perfil-usuario-footer centralizar">
                        <ul class="lista-datos">
                            <li><i class="icono icon-imagen"></i>Correo: <input type="text" name="correo" [(ngModel)]="actualizar.correo"  class="text"></li>
                            <li><i class="icono icon-imagen"></i>fecha nacimiento: <input name="fecha_nacimiento" [(ngModel)]="actualizar.fecha_nacimiento" type="text" class="text"></li>
                            <li><i class="icono icon-imagen"></i>Password: <input name="password" [(ngModel)]="actualizar.password" type="password" class="text"></li>
                        </ul>
                        <button  class="btn-actualizar">Actualizar</button>
                        
                    </div>
                </div>
               </form>
            </section>


        </div>
        
    </div>
    <!-- /#right-panel -->



    
</body>