<div class="container">
    <section class="page-section portfolio" id="portfolio" >
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">ROOT</h2>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                
                  <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="row" >
                <div class="col-md-3">
                    
                    <input type="text" name="nombre" [(ngModel)]="directorio.nombre" placeholder="Nombre de carpeta" class="input">
                </div>
                <div class="col-md-3">
                    <button mat-button color="primary" (click)="guardarCarpeta()"  >Guardar</button>
                    <button mat-button color="primary" (click)="CrearFile()"  >Guardar File</button>
                    
                </div>
                <div class="col-md-3">
                    
                    <input type="file" name="nombre_archivo" (change)="onFileSelect($event)" placeholder="Agregar Archivo" class="input" >
                </div>
                
                
            </div>
            <div class="row">

                <div class="col-md-2" *ngFor="let dir of directorios">
                    <a (click)="setCarpeta(dir)"><i class="fas fa-edit"></i></a>
                    <a (click)="deleteDirectory(dir)"><i class="fas fa-times-circle"></i></a>
                    <a (click)="alertConfirmation(dir)"><i class="fas fa-info-circle"></i></a>

                    <a  (click)="GuardarNombreCarpeta(dir)"><img src="../../../assets/images/carp3.png" class="img-fluid" alt=""></a>
                    <p class="lead text-center">{{dir.nombre}}</p>

                </div>
                <div class="col-md-2" *ngFor="let archivo of archivos">
                    <a (click)="setArchivo(archivo)"><i class="fas fa-edit"></i></a>
                    <a (click)="mover(archivo)"><i class="fas fa-people-carry"></i></a>
                    <a (click)="eliminar(archivo,1,'')"><i class="fas fa-times-circle"></i></a>
                    <a (click)="getProperties(archivo)"><i class="fas fa-info-circle"></i></a>
                    <a (click)="guardarFile(archivo)"><i class="fas fa-check-circle"></i></a>

                    <img *ngIf = "archivo.extension === 'png' || archivo.extension === 'jpg' || archivo.extension === 'jpeg' || archivo.extension === 'txt' || archivo.extension === 'mp3' || archivo.extension === 'mp4' || archivo.extension === 'mkv' || archivo.extension === 'docx' || archivo.extension === 'doc' || archivo.extension === 'xlsx' || archivo.extension === 'ppt' || archivo.extension === 'pdf'" [src]="'../../../assets/images/'+archivo.extension+'.png'" class="img-fluid" alt="">
                    <img *ngIf = "archivo.extension !== 'png' && archivo.extension !== 'jpg' && archivo.extension !== 'jpeg' && archivo.extension !== 'txt' && archivo.extension !== 'mp3' && archivo.extension !== 'mp4' && archivo.extension !== 'mkv' && archivo.extension !== 'docx' && archivo.extension !== 'doc' && archivo.extension !== 'xlsx' && archivo.extension !== 'ppt' && archivo.extension !== 'pdf'"  src="../../../assets/images/archivo.png"  class="img-fluid" alt="">
                    <p class="lead text-center">{{archivo.archivo}}</p>

                </div>
            </div>

        </div>

    </section>
</div>