
  <div class="contenedor margen-arriba">

	<mat-form-field>
	  <input matInput [(ngModel)]="usuario.nombre" type="text" placeholder="Nombre">
	</mat-form-field>
  
	<mat-form-field>
		<input matInput [(ngModel)]="usuario.apellido" type="text" placeholder="Apellido">
	</mat-form-field>

	<mat-form-field>
		<input matInput [(ngModel)]="usuario.correoElectronico" type="text" placeholder="Correo Electronico">
	</mat-form-field>

	<mat-form-field>
		<input matInput [(ngModel)]="usuario.password" type="password" placeholder="Contraseña">
	</mat-form-field>



	<mat-form-field appearance="fill">
		<mat-label>Select an option</mat-label>
		<mat-select [(value)]="selected">
		  <mat-option>None</mat-option>
		  <mat-option value="0">Huésped</mat-option>
		  <mat-option value="1">Profesional</mat-option>
		</mat-select>
	</mat-form-field>

	<mat-form-field *ngIf="selected == '1'" appearance="fill">
		<mat-label>Select an option</mat-label>
		<mat-select [(value)]="selected2">
		  <mat-option>None</mat-option>
		  <mat-option value="0">Empresario</mat-option>
		  <mat-option value="1">Particular</mat-option>
		</mat-select>
	</mat-form-field>
	
	<mat-form-field *ngIf="selected=='0'">
		<input matInput [(ngModel)]="usuario.celular" type="number" placeholder="Número de telefono">
	</mat-form-field>

	<mat-form-field *ngIf="selected=='0'">
		<input matInput [(ngModel)]="usuario.fechanac" type="date" placeholder="Fecha de nacimiento">
	</mat-form-field>

	<mat-form-field *ngIf="selected2=='0'">
		<input matInput [(ngModel)]="usuario.dpi" type="number" placeholder="Número de DPI">
	</mat-form-field>

	<mat-form-field *ngIf="selected=='1'">
		<input matInput [(ngModel)]="usuario.direccion" type="text" placeholder="Dirección de domicilio">
	</mat-form-field>




	<button mat-raised-button color="primary" (click)="sumar()">Sumar</button>
	<p>La suma de los dos valores es:{{resultado}}</p>
	
  </div>
	